.search-form {
	--c-lightgrey: #8f8f8f;
	--c-grey: #4e5e5e;

	display: flex;
	position: relative;

	& input[type="search"] {
		background: hsla(0, 0%, 100%, 0.15);
		border: none;
		border-radius: 5px 0 0 5px;
		color: var(--c-white);
		height: 40px;
		padding: 5px 10px;
	}

	& input[type="submit"] {
		background: var(--c-grey);
		border: none;
		border-radius: 0 5px 5px 0;
		display: inline-block;
		height: 40px;
		padding: 5px 10px;
		width: 40px;
	}

	& .autocomplete {
		background-color: var(--c-white);
		border: none;
		border-radius: 0 5px 5px 5px;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
		color: var(--c-black);
		display: flex;
		height: 250px;
		left: 0;
		padding: 5px 10px;
		position: absolute;
		top: 40px;
		width: 450px;

		&[aria-hidden="true"] {
			display: none;
		}

		& .column {
			border-right: 1px solid rgba(0, 0, 0, 0.2);
			box-sizing: border-box;
			flex-grow: 1;
			margin-bottom: 0.5rem;
			margin-right: 1rem;
			margin-top: 0.5rem;

			&:last-of-type {
				border-right: none;
				margin-right: initial;
				width: 35%;
			}

			&:first-of-type {
				width: 20%;
			}

		}

		& ul {
			box-sizing: border-box;
			height: 100%;
			list-style: none;
			margin: 0;
			overflow-y: scroll;
			padding: 1em 0;
		}

		& ul .no-results {
			color: var(--c-lightgrey);
		}

		& li a {
			align-items: center;
			color: var(--c-black);
			display: flex;
			margin-bottom: 0.5rem;
			text-decoration: none;

			&:hover {
				color: var(--c-grey);
			}
		}

		& li img {
			height: 50px;
			width: 50px;
		}

		& li p {
			margin: 0;
		}

		& li img + p {
			padding-left: 0.5rem;
		}
	}
}
